@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200&display=swap");

:root {
    --header-height: 3rem;
    --primary-color: #2b2e4a;

    --first-color: #fff;
    --first-color-light-blue: #d5aefc;
    --mail-color-light: #d5aefc;
    --mobile-terrain: #f3f4ed;

    --body-font: "Montserrat", sans-serif;
    --big-font-size: 3rem;
    --sub-font-size: 1.5rem;
    --normal-font-size: 0.938rem;

    --z-fixed: 100;
}

@media screen and (min-width: 768px) {
    :root {
        --big-font-size: 5.5rem;
        --sub-font-size: 2.5rem;
        --normal-font-size: 1rem;
    }
}

*,
::before,
::after {
    box-sizing: border-box;
}

body {
    margin: var(--header-height) 0 0 0;
    padding: 0;
    font-family: var(--body-font);
    font-size: var(--normal-font-size);
    font-weight: 500;
}

h1,
p,
ul {
    margin: 0;
}

ul {
    padding: 0;
    list-style: none;
}

a {
    text-decoration: none;
}

.bd-grid {
    max-width: 1024px;
    display: grid;
    grid-template-columns: 100%;
    column-gap: 2rem;
    width: calc(100% - 2rem);
    margin-left: 1rem;
    margin-right: 1rem;
}

.header {
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: var(--z-fixed);
    background-color: var(--first-color);
}

/*===== NAV =====*/
.nav {
    height: var(--header-height);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav__logo {
    font-weight: bold;
    font-size: 1.5rem;
    color: #000;
}

.nav__item {
    margin-bottom: 2rem;
}

.nav__link,
.nav__logo,
.nav__special {
    color: var(--primary-color);
}

.nav__link:hover {
    color: var(--first-color-light-blue);
}

.nav__special {
    border-radius: 2rem;
    background-color: #d7b3fc;
    padding: 1rem 1.5rem;
}

/*WORKING*/

.menu-btn {
    position: relative;
    display: none;
    justify-content: center;
    align-items: center;
    width: 1.5rem;
    height: 1.5rem;
    cursor: pointer;
    z-index: 1500;
}

.menu-btn__lines,
.menu-btn__lines::before,
.menu-btn__lines::after {
    width: 1.5rem;
    height: 0.1rem;
    background-color: #111111;
    transition: all 0.5s ease-in-out;
}

.menu-btn__lines::before,
.menu-btn__lines::after {
    content: "";
    position: absolute;
}
.menu-btn__lines::before {
    transform: translateY(-0.5rem);
}

.menu-btn__lines::after {
    transform: translateY(0.5rem);
}

.menu-btn.open .menu-btn__lines {
    transform: translateX(2rem);
    background-color: transparent;
}

.menu-btn.open .menu-btn__lines::before {
    transform: rotate(45deg) translate(-1.5rem, 1.5rem);
}

.menu-btn.open .menu-btn__lines::after {
    transform: rotate(-45deg) translate(-1.5rem, -1.5rem);
}

/*WORKING*/

@media screen and (max-width: 768px) {
    .nav__item {
        justify-content: center;
        text-align: center;
        padding-top: 20px;
        margin-top: 50px;
        font-size: 1.5rem;
    }

    .menu-btn {
        display: flex;
    }

    .nav__list {
        z-index: 1000;
        flex-direction: column;
        justify-content: space-around;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        height: 100vh;
        transform: translateX(100vw);
        background-color: var(--mobile-terrain);
        /* transition: transform 0.3s ease-in-out; */
    }

    .nav__list.open {
        transform: translateX(0);
    }
}

.home {
    background-color: var(--first-color);
    overflow: hidden;
}

.home__container {
    height: calc(100vh - var(--header-height));
    grid-template-rows: repeat(2, max-content);
    row-gap: 1.5rem;
}

.home__img {
    position: relative;
    padding-top: 1.5rem;
    justify-self: center;
    width: 302px;
    height: 233px;
}

.home__img img {
    position: absolute;
    top: 0;
    right: 50px;
    width: 150%;
    height: auto;
}

@media screen and (max-width: 768px) {
    .home__img img {
        right: 0;
        max-width: 100%;
        height: auto;
    }
}

.home__data {
    margin-bottom: 10rem;
    color: var(--primary-color);
}

.home__title {
    font-size: var(--big-font-size);
    line-height: 1.3;
    margin-bottom: 1rem;
    text-transform: uppercase;
}

.home__subtitle {
    font-size: var(--sub-font-size);
    line-height: 1.3;
    margin-top: -1.5rem;
    margin-bottom: 2rem;
    text-transform: uppercase;
    letter-spacing: 8px;
    color: #b3ae36;
    font-weight: 400;
}

.home__button {
    display: inline-block;
    background-color: #d8b4fa;
    color: #fff;
    padding: 1rem 1.5rem;
    border-radius: 2rem;
    font-size: 1.15rem;
    text-transform: uppercase;
    font-weight: bold;
}

@media screen and (min-width: 768px) {
    body {
        margin: 0;
    }

    .nav {
        height: calc(var(--header-height) + 1.5rem);
    }

    .nav__list {
        display: flex;
    }

    .nav__item {
        margin-left: 3rem;
        margin-bottom: 0;
    }

    .home__container {
        height: 100vh;
        grid-template-columns: repeat(2, max-content);
        grid-template-rows: 1fr;
        row-gap: 0;
        align-items: center;
        justify-content: center;
    }

    .home__img {
        order: 1;
        width: 375px;
        height: 289px;
    }

    .home__img img {
        width: 375px;
    }
}

.register {
    min-height: 80vh;
    display: grid;
    place-items: center;
}

.form {
    display: flex;
    flex-direction: column;
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.2);
    border-radius: 25px;
    overflow: hidden;
    width: 80%;
    max-width: 300px;
    position: relative;
}

.form-item {
    display: flex;
    flex-direction: column;
}

.form-input,
.form-submit {
    font-family: inherit;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 10px;
    letter-spacing: 1.2px;
    border: 0;
    outline: none;
}

.form-input {
    padding: 1.5em;
}

.form-input::placeholder {
    opacity: 0.85;
}

.form-input:focus::placeholder {
    color: var(--mail-color-light);
    opacity: 1;
}

.form-item:first-of-type {
    position: relative;
}

.form-item:first-of-type::after {
    content: "";
    position: absolute;
    right: 0;
    left: 0;
    bottom: 0;
    height: 1px;
    background: rgba(0, 0, 0, 0.1);
}

.form-submit {
    background: var(--mail-color-light);
    color: #fff;
    padding: 1.25em 2.25em;
}

.box,
.blueprint,
.alert-name,
.alert-email {
    width: 250px;
    background: var(--mail-color-light);
    border-radius: 50px;
    padding: 10px;
    text-align: center;
}

.blueprint {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.box {
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.alert-name {
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 0.8rem;
}

.alert-email {
    position: absolute;
    top: 67%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 0.8rem;
}

.home__description {
    margin-bottom: 1rem;
    font-size: 1rem;
    line-height: 2rem;
    color: #549b8e;
}

@media screen and (min-width: 1024px) {
    .home__description {
        margin-bottom: 5rem;
        font-size: 1rem;
        line-height: 2rem;
        color: #549b8e;
    }

    .form {
        flex-direction: row;
        max-width: 550px;
        border: 8px solid white;
        border-radius: 3em;
    }

    .form-submit {
        margin-left: auto;
        border-radius: 3em;
    }

    .form-item {
        justify-content: center;
    }

    .form-item:last-of-type {
        flex-grow: 1;
    }

    .form-item:first-of-type::after {
        right: 0;
        top: 0;
        bottom: 0;
        width: 1px;
        height: initial;
        left: initial;
    }

    .nav__logo {
        margin-left: -4rem;
    }

    .home {
        margin-right: 8rem;
    }

    .bd-grid {
        margin-left: auto;
        margin-right: auto;
    }

    .nav__list {
        margin-right: -2.7rem;
    }

    .home__container {
        justify-content: initial;
        column-gap: 4.5rem;
    }

    .home__img {
        width: 604px;
        height: 466px;
    }

    .home__img img {
        width: 704px;
        margin-top: -4rem;
        margin-right: -5rem;
    }

    .alert-name {
        margin-top: -15px;
        position: absolute;
        top: 35%;
        left: 40%;
        transform: translate(-50%, -50%);
        font-size: 0.8rem;
    }

    .alert-email {
        margin-top: 15px;
        position: absolute;
        top: 45%;
        left: 50%;
        transform: translate(-50%, -50%);
        font-size: 0.8rem;
    }

    .alert-name,
    .alert-email {
        text-align: center;
        background: transparent;
    }
}
